body {
    background-image: url('https://image.cnbcfm.com/api/v1/image/107155947-1669153890614-gettyimages-1443652535-dsc_3811_961e4367-653b-4fc8-98b1-ec6ad5880e5a.jpeg?v=1674154600&w=1920&h=1080');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
